<div class="card">
    <div>
        <br>
        Ingrese Referencia:
        <input type="text" placeholder="Ingrese referencia" [(ngModel)] = "reference" required maxlength="8">
        <button type="button" class="btn btn-primary" (click) = 'addReference(reference)'>Agregar Referencia</button>
    </div>
    <div class="mt-4">
        <table class="table table-bordered ">
            <tr>
                <th scope="col" *ngFor = 'let reference of referenceList'> 
                    {{reference}} 
                </th>
            </tr>
        </table>
    </div>
    <div>
        <br>
        Ingrese el numero de Marcos:
        <input type="text" placeholder="Ingrese marcos" [(ngModel)] = "frames" required maxlength="8">
        </div>
        <br>
        <button type="button" class="btn btn-success" (click) = 'optimalAlgorithm(frames)'>Aplicar Algoritmo</button>
        <br>
</div>